<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Product_Breakdown.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Product_Breakdown.MySettings>
            <setting name="TemplateDirectory" serializeAs="String">
                <value>P:\Product Breakdown\Product Breakdown Templates\Templates.xlsx</value>
            </setting>
            <setting name="HomeDirectory" serializeAs="String">
                <value>P:\Product Breakdown\</value>
            </setting>
            <setting name="BreakdownSaveDirectory" serializeAs="String">
                <value>P:\Product Breakdown\Product Breakdowns\</value>
            </setting>
            <setting name="ProductPath" serializeAs="String">
                <value>P:\Quality_Wizard\Quality_Wizard_Data_Files\Product Info\</value>
            </setting>
            <setting name="iSupplier_Default" serializeAs="String">
                <value>P:\Bucket Pick Files - iSupplier\</value>
            </setting>
            <setting name="iSupplier_CopiedLocation" serializeAs="String">
                <value>P:\Product Breakdown\iSupplier Files\</value>
            </setting>
        </Product_Breakdown.MySettings>
    </userSettings>
</configuration>