<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Product_Breakdown.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Product_Breakdown.MySettings>
            <setting name="TemplateDirectory" serializeAs="String">
                <value>P:\IT\Applications\Product Breakdown\Application Storage\Product Breakdown Templates\</value>
            </setting>
            <setting name="HomeDirectory" serializeAs="String">
                <value>P:\IT\Applications\Product Breakdown\</value>
            </setting>
            <setting name="BreakdownSaveDirectory" serializeAs="String">
                <value>P:\IT\Applications\Product Breakdown\Application Storage\Product Breakdowns\</value>
            </setting>
            <setting name="ProductPath" serializeAs="String">
                <value>P:\Quality_Wizard\Quality_Wizard_Data_Files\Product Info\</value>
            </setting>
            <setting name="iSupplier_Default" serializeAs="String">
                <value>P:\Bucket Pick Files - iSupplier\</value>
            </setting>
            <setting name="iSupplier_CopiedLocation" serializeAs="String">
                <value>P:\IT\Applications\Product Breakdown\Application Storage\iSupplier Files\</value>
            </setting>
            <setting name="AllowedProductRegistry" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>3730771101</string>
                        <string>3730771201</string>
                        <string>3730771301</string>
                        <string>3730771401</string>
                        <string>3730771501</string>
                        <string>3730771601</string>
                        <string>3730771801</string>
                        <string>3730771901</string>
                        <string>3730772001</string>
                        <string>3730772101</string>
                        <string>3730772201</string>
                        <string>3730772301</string>
                        <string>3730772501</string>
                        <string>3730772601</string>
                        <string>3730772701</string>
                        <string>3730772801</string>
                        <string>3730772901</string>
                        <string>3730773001</string>
                        <string>3730773201</string>
                        <string>3730773301</string>
                        <string>3730773401</string>
                        <string>3730773501</string>
                        <string>3730773601</string>
                        <string>3730773701</string>
                        <string>3730773901</string>
                        <string>3730774001</string>
                        <string>3730774101</string>
                        <string>3730774201</string>
                        <string>3730774301</string>
                        <string>3730774401</string>
                        <string>3730774601</string>
                        <string>3730774701</string>
                        <string>3730774801</string>
                        <string>3730774901</string>
                        <string>3730775001</string>
                        <string>3730775101</string>
                        <string>3730775301</string>
                        <string>3730775401</string>
                        <string>3730775501</string>
                        <string>3730775601</string>
                        <string>3730775701</string>
                        <string>3730775801</string>
                        <string>3730776001</string>
                        <string>3730776101</string>
                        <string>3730776201</string>
                        <string>3730776301</string>
                        <string>3730776401</string>
                        <string>3730776501</string>
                        <string>3700907501</string>
                        <string>3700907601</string>
                        <string>3700907701</string>
                        <string>3700907801</string>
                        <string>3700907901</string>
                        <string>3700908001</string>
                        <string>3700908301</string>
                        <string>3700908401</string>
                        <string>3700908501</string>
                        <string>3700908601</string>
                        <string>3700908701</string>
                        <string>3700908801</string>
                        <string>3700909101</string>
                        <string>3700909201</string>
                        <string>3700909301</string>
                        <string>3700909401</string>
                        <string>3700909501</string>
                        <string>3700909601</string>
                        <string>3700909901</string>
                        <string>3700910001</string>
                        <string>3700910101</string>
                        <string>3700910201</string>
                        <string>3700910301</string>
                        <string>3700910401</string>
                        <string>3700910701</string>
                        <string>3700910801</string>
                        <string>3700910901</string>
                        <string>3700911001</string>
                        <string>3700911101</string>
                        <string>3700911201</string>
                        <string>3700911501</string>
                        <string>3700911601</string>
                        <string>3700911701</string>
                        <string>3700911801</string>
                        <string>3700911901</string>
                        <string>3700912001</string>
                        <string>3700912301</string>
                        <string>3700912401</string>
                        <string>3700912501</string>
                        <string>3700912601</string>
                        <string>3700912701</string>
                        <string>3700912801</string>
                        <string>3700913101</string>
                        <string>3700913201</string>
                        <string>3700913301</string>
                        <string>3700913401</string>
                        <string>3700913501</string>
                        <string>3700913601</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="int_DaysToDisplay" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="POSaveDirectory" serializeAs="String">
                <value>P:\IT\Applications\Plant Data\Product Orders\</value>
            </setting>
            <setting name="InsightAllowed" serializeAs="String">
                <value>True</value>
            </setting>
        </Product_Breakdown.MySettings>
    </userSettings>
</configuration>